@{
    ViewData["Title"] = "Admin";
}

<div class="col-md-12">
    <div>
        <h1>Settings</h1>
        <section id="admin-control-panel"></section>
    </div>
</div>

@section scripts {
    <script asp-src-include="~/js/admin*.js" asp-append-version="true"></script>
}
