@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <div>
        <section id="bulletin-board"></section>
    </div>
</div>

@section scripts {
    <script asp-src-include="~/js/home*.js" asp-append-version="true"></script>
}
